<div class="list-container">
  <h2>Providers</h2>
  <div *ngIf="selectedToggle; else showSelected">
    <div *ngFor="let providers of unselectedProviders">
      <li>
        <ul>
          {{
            providers.name
          }}
        </ul>
        <ul>
          {{
            providers.address
          }}
        </ul>
        <ul>
          {{
            providers.phone
          }}
        </ul>
      </li>
      <input
        type="checkbox"
        (change)="addProvider(providers, $event.target.checked)"
      />
    </div>
    <button (click)="changeToggle()">Submit</button>
  </div>
  <ng-template #showSelected
    ><div *ngFor="let providers of selectedProviders">
      <li>
        <ul>
          {{
            providers.name
          }}
        </ul>
        <ul>
          {{
            providers.address
          }}
        </ul>
        <ul>
          {{
            providers.phone
          }}
        </ul>
      </li>
      <input
        type="checkbox"
        (change)="addProvider(providers, $event.target.checked)"
      />
    </div>
    <button (click)="changeToggle()">Submit</button>
  </ng-template>
</div>
